In [1]:
%reload_ext autoreload
%autoreload 2

import os, sys

sys.path.append('c:\\Projects\\taxi_predict\\src\\')

In [2]:
from data import load_raw_data


rides = load_raw_data(year=2023)
rides

Downloading file 2023-01
Downloading file 2023-02
Downloading file 2023-03
Downloading file 2023-04
Downloading file 2023-05
Downloading file 2023-06
Downloading file 2023-07
Downloading file 2023-08
Downloading file 2023-09
Downloading file 2023-10
Downloading file 2023-11
Downloading file 2023-12

             pickup_datetime  pickup_location_id
0        2023-01-01 00:32:10                 161
1        2023-01-01 00:55:08                  43
2        2023-01-01 00:25:04                  48
3        2023-01-01 00:03:48                 138
4        2023-01-01 00:10:29                 107
...                      ...                 ...
38310117 2023-12-31 23:04:34                 233
38310118 2023-12-31 23:08:15                  48
38310119 2023-12-31 23:16:15                 196
38310120 2023-12-31 23:21:58                 140
38310121 2023-12-31 23:10:47                 237

[38310122 rows x 2 columns]

In [3]:
from data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:05<00:00, 49.08it/s]

                pickup_hour  rides  pickup_location_id
0       2023-01-01 00:00:00      0                   1
1       2023-01-01 01:00:00      0                   1
2       2023-01-01 02:00:00      0                   1
3       2023-01-01 03:00:00      0                   1
4       2023-01-01 04:00:00      0                   1
...                     ...    ...                 ...
2321395 2023-12-31 19:00:00      0                 265
2321396 2023-12-31 20:00:00      0                 265
2321397 2023-12-31 21:00:00      3                 265
2321398 2023-12-31 22:00:00      3                 265
2321399 2023-12-31 23:00:00      2                 265

[2321400 rows x 3 columns]

In [4]:
from data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1,
    step_size=24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:30<00:00,  8.74it/s]

89305
features.shape=(89305, 674)
targets.shape=(89305,)

In [8]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR/'tabular_data.parquet')